/*
#5B58BB
#8A88D2
#817E92
#1A1324
#F8F8FF
*/

@media (prefers-color-scheme: dark) {
    body {
        background-color: #1A1324;
        color: #8A88D2;
    }

    .btn-outline-primary {
        background-color: #5B58BB;
        border-color: #817E92;
        color: #F8F8FF;
    }

    .btn-outline-primary:hover,
    .btn-outline-primary:active,
    .btn-outline-primary:visited,
    .btn-outline-primary:focus {
        background-color: #F8F8FF;
        border-color: #5B58BB;
        color: #5B58BB;
    }

    .form-control, .form-control:focus {
        background-color: #8A88D2;
        color: #F8F8FF;
    }

    .form-field label, .form-field label:focus{
        color: #F8F8FF;
    }

    td {
        color: #F8F8FF;
    }
}

@media (prefers-color-scheme: light) {
    body {
        background-color: #F8F8FF;
        color: #1A1324;
    }
    .btn-outline-primary {
        color: #5B58BB;
        border-color: #5B58BB;
    }

    .btn-outline-primary:hover,
    .btn-outline-primary:active,
    .btn-outline-primary:visited,
    .btn-outline-primary:focus {
        background-color: #5B58BB;
        border-color: #5B58BB;
        color: #F8F8FF;
    }

    .form-control, .form-control:focus {
        background-color: #F8F8FF;
        color: #8A88D2;
    }

    .form-field label, .form-field label:focus{
        color: #1A1324;
    }
}

body {
    font-family: 'Merriweather';
    font-size: 16px;
}

.btn {
    margin: 0.25em 0.5em 0.25em 0;
}

.material-icons {
    vertical-align: middle;
    margin-top: -0.1em;
}

#title {
    color: #5B58BB;
    text-align: center;
}


h4 {
    color: #8A88D2;
    margin: 0.75em 0;
}

h5 {
    color: #8A88D2;
    margin: 1em 0;
}

textarea {
    resize: none;
}

.form-field {
    margin-bottom: 0.5em;
}

th {
    color: #5B58BB;
}

.table > :not(:first-child) {
    border-top: 0;
}

.form-check-input:checked {
    background-color: #5B58BB;
    border-color: #5B58BB;
    color: #F8F8FF;
}

.small-option {
    text-decoration: underline;
    font-size: 0.8em;
    cursor: pointer;
    color: #817E92;
    display: inline-block;
}

.list-spacing {
    margin: 0;
}

.nav-pills {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3em;
}

.nav-pills .nav-link {
    margin-right: 1.5em;
    font-size: 1.25em;
    color: #5B58BB;
    border: solid 0.05em #5B58BB;
}

.nav-pills .nav-link.active {
    color: #F8F8FF;
    background-color: #8A88D2;
    border: solid 0.05em #5B58BB;
}

#toggle-theme {
    color: #817E92;
    border-color: #817E92;
    font-size: 0.85em;
    vertical-align: middle;
}
